Author: ichitaso
Maintainer: ichitaso
Name: RegionChanger
Package: com.ichitaso.regionchanger
Depends: firmware (>= 15.0)
Section: Utilities
Version: 0.0.2
Architecture: iphoneos-arm
Description: Set the System Region of your device to US. Mute the shutter sound of the camera in silent mode, etc.
Depiction: https://cydia.ichitaso.com/depiction/regionchanger.html
Homepage: https://ichitaso.com/
dev: ichitaso
Icon: https://raw.githubusercontent.com/ichitaso/RegionChanger/main/Resources/AppIcon60x60%403x.png
